@use "../variables" as var;

.reminder-container {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;

  .reminder-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var.$separator-color;
    border-radius: 10px;
    padding: 10px;

    button {
      background: var.$background-primary;
      border: none;
      cursor: pointer;
      color: var.$default;
      &:hover{
        color: var.$primary-color;
        transition: color 0.5s;
      }
    }

    .reminder-name {
      color: var.$default;
      font-size: 0.8rem;
    }

    @media(max-width: 768px) {
      padding: 5px;
    }
  }
}
