@use "../variables" as var;

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var.$background-primary;
  border-bottom: 1px solid var.$border-color;

  img {
    height: 5rem;
    @media (max-width: 768px) {
      height: 4rem;
    }
  }

  h1{
    font-size: 4rem;
    color: var.$primary-color;

    @media (max-width: 768px) {
      font-size: 3rem;
    }
  }


}